<div th:fragment="Specte" class="mx-0">
  <div id="unity-container" class="unity-desktop">
    <canvas id="unity-canvas" width="100%" tabindex="-1"></canvas>
    <div id="unity-loading-bar">
      <div id="unity-logo"></div>
      <div id="unity-progress-bar-empty">
        <div id="unity-progress-bar-full"></div>
      </div>
    </div>
    <br>
    <div id="unity-footer">
      <div id="unity-fullscreen-button"></div>
    </div>
  </div>
  <input type="text" id="userAuthority" value="Specte" style="display : none;">
  <input type="text" id="bd" th:value="${asset.bd}" name="bd" style="display: none;">
</div>