<html layout:decorate="~{layout}">
<div layout:fragment="content">
   <!-- Hero Section Begin -->
   <section class="hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="hero__categories">
            <div class="hero__categories__all">
              <i class="fa fa-bars"></i>
              <span>All categories</span>
            </div>
            <ul>
              <li><a href="#">Characters</a></li>
              <li><a href="#">Enviroments</a></li>
              <li><a href="#">Props</a></li>
              <li><a href="#">Vehicles</a></li>
              <li><a href="#">Architecture</a></li>
              <li><a href="#">Weapons & Military</a></li>
              <li><a href="#">Sci-Fi</a></li>
              <li><a href="#">Fantasy</a></li>
              <li><a href="#">Animations</a></li>
              <li><a href="#">VFX</a></li>
              <li><a href="#">Furnitures</a></li>
              <li><a href="#">Sale</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="hero__search">
            <div class="hero__search__form">
              <form action="#">
                <div class="hero__search__categories" id="">
                  Asset
                  <span class="arrow_carrot-down"></span>
                </div>
                <input type="text" placeholder="What do yo u need?">
                <button type="submit" class="site-btn">SEARCH</button>
              </form>
            </div>
            <div class="hero__search__phone">
              <div class="hero__search__phone__icon">
                <i class="fa fa-phone"></i>
              </div>
              <div class="hero__search__phone__text">
                <h5>+82 10.3335.2182</h5>
                <span>support 24/7 time</span>
              </div>
            </div>
          </div>
          <div class="hero__item set-bg pl-0 video-container">
            <video width="1000px" autoplay muted loop>
              <source src="img/hero/bannerVideo.mp4" type="video/mp4">
            </video>
          
            <div class="hero__text">
              <span class="text-light">3D block</span>
              <h2 class="text-light">MetaCraft <br />Asset Store</h2>
              <p class="text-light">Create your own assets and share!</p>
              <a th:href="@{|/api/assets/create|}" class="primary-btn">CREATE NOW</a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <!-- Hero Section End -->

  <!-- Categories Section Begin -->
  <section class="categories">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h2>Top free assets</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="categories__slider owl-carousel">
          <div class="col-lg-3">
            <div class="categories__item set-bg" data-setbg="img/popular/popular-1.png">
              <h5><a href="#">Prototype Map</a></h5>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="categories__item set-bg" data-setbg="img/popular/popular-2.png">
              <h5><a href="#">Tanks!</a></h5>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="categories__item set-bg" data-setbg="img/popular/popular-3.png">
              <h5><a href="#">Fantasy Kingdom</a></h5>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="categories__item set-bg" data-setbg="img/popular/popular-4.png">
              <h5><a href="#">Time Ghost: Character</a></h5>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="categories__item set-bg" data-setbg="img/popular/popular-5.png">
              <h5><a href="#">RPG Poly Pack</a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Categories Section End -->

  <!-- Featured Section Begin -->
  <section class="featured spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <h2>Top new assets</h2>
          </div>
          <div class="featured__controls">
            <ul>
              <li class="active" data-filter="*">All</li>
              <li data-filter=".envi">Enviroments</li>
              <li data-filter=".archi">Architecture</li>
              <li data-filter=".fantasy">Fantasy</li>
              <li data-filter=".char">Characters</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row featured__filter">
        <div class="col-lg-3 col-md-4 col-sm-6 mix envi">
          <div class="featured__item">
            <div class="featured__item__pic set-bg" data-setbg="img/new/001.png">
              <ul class="featured__item__pic__hover">
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
            </div>
            <div class="featured__item__text">
              <h6><a href="#">Meadow Enviroemnt</a></h6>
              <h5>$60</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mix envi">
          <div class="featured__item">
            <div class="featured__item__pic set-bg" data-setbg="img/new/002.png">
              <ul class="featured__item__pic__hover">
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
            </div>
            <div class="featured__item__text">
              <h6><a href="#">Pure Nature : Mesa Desert</a></h6>
              <h5>$35</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mix archi">
          <div class="featured__item">
            <div class="featured__item__pic set-bg" data-setbg="img/new/003.png">
              <ul class="featured__item__pic__hover">
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
            </div>
            <div class="featured__item__text">
              <h6><a href="#">LowPoly City Generator</a></h6>
              <h5>$198</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mix fantasy envi">
          <div class="featured__item">
            <div class="featured__item__pic set-bg" data-setbg="img/new/004.png">
              <ul class="featured__item__pic__hover">
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
            </div>
            <div class="featured__item__text">
              <h6><a href="#">Anime Cyber City</a></h6>
              <h5>$59.99</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mix char">
          <div class="featured__item">
            <div class="featured__item__pic set-bg" data-setbg="img/new/005.png">
              <ul class="featured__item__pic__hover">
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
            </div>
            <div class="featured__item__text">
              <h6><a href="#">Low Poly Medieval Characters</a></h6>
              <h5>$7.50</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mix char fantasy">
          <div class="featured__item">
            <div class="featured__item__pic set-bg" data-setbg="img/new/006.png">
              <ul class="featured__item__pic__hover">
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
            </div>
            <div class="featured__item__text">
              <h6><a href="#">3D Characters Pro - Fantasy Basic Vol.1</a></h6>
              <h5>$39.99</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mix archi fantasy envi">
          <div class="featured__item">
            <div class="featured__item__pic set-bg" data-setbg="img/new/008.png">
              <ul class="featured__item__pic__hover">
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
            </div>
            <div class="featured__item__text">
              <h6><a href="#">Dark Fantasy Enviroment</a></h6>
              <h5>$120</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mix archi fantasy">
          <div class="featured__item">
            <div class="featured__item__pic set-bg" data-setbg="img/new/007.png">
              <ul class="featured__item__pic__hover">
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
              </ul>
            </div>
            <div class="featured__item__text">
              <h6><a href="#">Idyllic Ancient Ruins</a></h6>
              <h5>$50</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Featured Section End -->

  <!-- Banner Begin -->
  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="banner__pic">
            <img class="rounded" src="img/advertisements/ad-1.jpg" alt="">
          </div>
          <div class="ad__text">
            <h2 class="text-uppercase text-light">25% off <br />welcome offer </h2>
            <div>Join our mailing list and save 25% on assets. Plus, get game dev resources and news about promos, events, and more.</div>
            <a href="#" class="small primary-btn lightblue-btn rounded-pill mt-3">sign up →</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="banner__pic">
            <img class="rounded-lg" src="img/advertisements/ad-2-3.png" alt="">
          </div>
          <div class="ad__text">
            <h2 class="text-uppercase text-light">publisher <br />of the week </h2>
            <div>Save 50% on assets get a free gift in this week's Publisher Sale.</div>
            <a href="#" class="small primary-btn lightblue-btn rounded-pill mt-3">shop now →</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner End -->

  <!-- Latest Product Section Begin -->
  <section class="latest-product spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="latest-product__text">
            <h4>Latest Products</h4>
            <div class="latest-product__slider owl-carousel">
              <div class="latest-prdouct__slider__item">
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="img/latest-product/002.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Lord Vampire</h6>
                    <span class="text-danger">$35 <del class="text-muted opacity-50 d-inline small">$69.99</del></span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="img/latest-product/006.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Stylized Traps - Big Pack</h6>
                    <span class="text-danger">$10 <del class="text-muted opacity-50 d-inline small">$19.99</del></span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="img/latest-product/001.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>3D Explosive assets pack</h6>
                    <span>$4.99</span>
                  </div>
                </a>
              </div>
              <div class="latest-prdouct__slider__item">
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="img/latest-product/003.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Inca Props</h6>
                    <span>FREE</span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="img/latest-product/005.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>soviet cabinets</h6>
                    <span>$24.99</span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="img/latest-product/004.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Japan_Office_Furniture</h6>
                    <span>$106</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="latest-product__text">
            <h4>Top Rated Products</h4>
            <div class="latest-product__slider owl-carousel">
              <div class="latest-prdouct__slider__item">
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="img/rated/001.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Nature Starter Kit 2</h6>
                    <span>FREE</span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="img/rated/002.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Zombie</h6>
                    <span>FREE</span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="img/rated/003.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Simple Town - Cartoon Assets</h6>
                    <span>$19.99</span>
                  </div>
                </a>
              </div>
              <div class="latest-prdouct__slider__item">
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="img/rated/004.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Humpback Whale</h6>
                    <span>FREE</span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="img/rated/005.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Rock and Boulders 2</h6>
                    <span>FREE</span>
                  </div>
                </a>
                <a href="#" class="latest-product__item">
                  <div class="latest-product__item__pic">
                    <img src="img/rated/006.jpg" alt="">
                  </div>
                  <div class="latest-product__item__text">
                    <h6>Thalassophobia: Stylized Oceans</h6>
                    <span>$30.00</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="latest-product__text">
            <h4>Community</h4>
            <div class="community">
              <ul>
                <li>minecraft</li>
                <li>DCinside</li>
                <li>4chan</li>
                <li>DeviantArt</li>
                <li>ArtStation</li>
                <li>Sketchfab</li>
                <li>CGTrader</li>
                <li>TurboSquid</li>
                <li>NMIXX</li>
                <li>NMIXX - LILY</li>
                <li>NMIXX - HAEWON</li>
                <li>NMIXX - SULLYOON</li>
                <li>NMIXX - BAE</li>
                <li>NMIXX - JIWOO</li>
                <li>NMIXX - KYUJIN</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Latest Product Section End -->

  <!-- Blog Section Begin -->
  <section class="from-blog spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title from-blog__title">
            <h2>From The Blog</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="blog__item">
            <div class="blog__item__pic">
              <img src="img/blog/blog-1.jpg" alt="">
            </div>
            <div class="blog__item__text">
              <ul>
                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                <li><i class="fa fa-comment-o"></i> 5</li>
              </ul>
              <h5><a href="#">Cooking tips make cooking simple</a></h5>
              <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="blog__item">
            <div class="blog__item__pic">
              <img src="img/blog/blog-2.jpg" alt="">
            </div>
            <div class="blog__item__text">
              <ul>
                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                <li><i class="fa fa-comment-o"></i> 5</li>
              </ul>
              <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
              <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="blog__item">
            <div class="blog__item__pic">
              <img src="img/blog/blog-3.jpg" alt="">
            </div>
            <div class="blog__item__text">
              <ul>
                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                <li><i class="fa fa-comment-o"></i> 5</li>
              </ul>
              <h5><a href="#">Visit the clean farm in the US</a></h5>
              <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Blog Section End -->
  </div>
</html> 
