<div th:fragment="model-createfragment" class="mx-0">
  <div id="unity-container" class="unity-desktop">
    <canvas id="unity-canvas" width="100%" tabindex="-1"></canvas>
    <div id="unity-loading-bar">
      <div id="unity-logo"></div>
      <div id="unity-progress-bar-empty">
        <div id="unity-progress-bar-full"></div>
      </div>
    </div>
    <br>
    <div id="unity-footer">
      <div id="unity-fullscreen-button"></div>
    </div>
  </div>
  <form th:action="@{/api/assets/upload}" enctype="multipart/form-data" class="mt-5" method="post" id="assetForm">
    <input type="text" id="obj" name="obj" style="display: none;">
    <input type="text" id="bd" name="bd" style="display: none;">
    <input type="text" id="mtl" name="mtl" style="display: none;">
    <input type="file" id="imageInput" name="images" style="display: none;" multiple>
    <div class=" container">
      <div class="row">
        <div class="col-12 col-md-10">
          <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
        </div>
        <div class="col-12 col-md-2">
          <label for="thumbnailInput" class="form-control" id="thumbnailLabel">
            썸네일 업로드
          </label>
          <input type="file" id="thumbnailInput" name="thumbnail" style="display: none;">
        </div>
      </div>
    </div>
  </form>
  <script>
    document.addEventListener('keydown', function (e) {
      const activeElement = document.activeElement;
      console.log(activeElement.id);
      // 만약 포커스가 input 필드에 있을 때만 동작하도록 설정
      if (activeElement.tagName.toLowerCase() === "input") {
        if (e.key === "Backspace") {
          // 백스페이스 처리
          const currentValue = activeElement.value;
          const newValue = currentValue.slice(0, currentValue.length - 1);
          activeElement.value = newValue;
        }
      } else {
        // 포커스가 input이 아닐 경우 입력 차단
        e.preventDefault(); // 키 입력 차단
      }
    });
  </script>
</div>