<div th:fragment="model-createfragment" class="mx-0">
  <div id="unity-container" class="unity-desktop">
    <canvas id="unity-canvas" width="100%" tabindex="-1"></canvas>
    <div id="unity-loading-bar">
      <div id="unity-logo"></div>
      <div id="unity-progress-bar-empty">
        <div id="unity-progress-bar-full"></div>
      </div>
    </div>
    <br>
    <div id="unity-footer">
      <div id="unity-fullscreen-button"></div>
    </div>
  </div>
  <form th:action="@{/api/assets/upload}" enctype="multipart/form-data" method="post" id="assetForm"
    style="display: none;">
    <input type="text" id="obj" name="obj" style="display: none;">
    <input type="text" id="bd" name="bd" style="display: none;">
    <input type="text" id="mtl" name="mtl" style="display: none;">
    <input type="file" id="imageInput" name="images" style="display: none;" multiple>
  </form>
</div>
