<html layout:decorate="~{layout}" layout:fragment="content">
<head>
  <link rel="stylesheet" href="../css/profile.css" type="text/css">
</head>
<section class="section about-section mt-5" id="about">
  <div class="container">
      <div class="row align-items-center flex-row-reverse">
          <div class="col-lg-6">
              <div class="about-text go-to">
                  <h3 class="dark-color">About Me</h3>
                  <h6 class="theme-color lead">A Lead UX &amp; UI designer based in Canada</h6>
                  <p>I <mark>design and develop</mark> services for customers of all sizes, specializing in creating stylish, modern websites, web services and online stores. My passion is to design digital user experiences through the bold interface and meaningful interactions.</p>
                  <div class="row about-list">
                      <div class="col-md-6">
                          <div class="media">
                              <label>Birthday</label>
                              <p>4th april 1998</p>
                          </div>
                          <div class="media">
                              <label>Age</label>
                              <p>22 Yr</p>
                          </div>
                          <div class="media">
                              <label>Residence</label>
                              <p>Canada</p>
                          </div>
                          <div class="media">
                              <label>Address</label>
                              <p>California, USA</p>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="media">
                              <label>E-mail</label>
                              <p>info@domain.com</p>
                          </div>
                          <div class="media">
                              <label>Phone</label>
                              <p>820-885-3321</p>
                          </div>
                          <div class="media">
                              <label>Skype</label>
                              <p>skype.0404</p>
                          </div>
                          <div class="media">
                              <label>Freelance</label>
                              <p>Available</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="about-avatar">
                  <img src="https://avatars.githubusercontent.com/u/151982286?v=4" title="" alt="">
              </div>
          </div>
      </div>
      <div class="counter">
          <div class="row">
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h6 class="count h2" data-to="500" data-speed="500">500</h6>
                      <p class="m-0px font-w-600">Happy Clients</p>
                  </div>
              </div>
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h6 class="count h2" data-to="150" data-speed="150">150</h6>
                      <p class="m-0px font-w-600">Project Completed</p>
                  </div>
              </div>
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h6 class="count h2" data-to="850" data-speed="850">850</h6>
                      <p class="m-0px font-w-600">Photo Capture</p>
                  </div>
              </div>
              <div class="col-6 col-lg-3">
                  <div class="count-data text-center">
                      <h6 class="count h2" data-to="190" data-speed="190">190</h6>
                      <p class="m-0px font-w-600">Telephonic Talk</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Product Details Section Begin -->
<section class="product-details spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="product__details__tab">
                  <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                          <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                              aria-selected="true">Description</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                              aria-selected="false">Information</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                              aria-selected="false">Reviews <span>(1)</span></a>
                      </li>
                  </ul>
                  <div class="tab-content">
                      <div class="tab-pane active" id="tabs-1" role="tabpanel">
                          <div class="product__details__tab__desc">
                              <h6>Products Infomation</h6>
                              <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                                  Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Vivamus
                                  suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam
                                  vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada.
                                  Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat,
                                  accumsan id imperdiet et, porttitor at sem. Praesent sapien massa, convallis a
                                  pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula
                                  elementum sed sit amet dui. Vestibulum ante ipsum primis in faucibus orci luctus
                                  et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam
                                  vel, ullamcorper sit amet ligula. Proin eget tortor risus.</p>
                                  <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem
                                  ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet
                                  elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum
                                  porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus
                                  nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
                                  Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed
                                  porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum
                                  sed sit amet dui. Proin eget tortor risus.</p>
                          </div>
                      </div>
                      <div class="tab-pane" id="tabs-2" role="tabpanel">
                          <div class="product__details__tab__desc">
                              <h6>Products Infomation</h6>
                              <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                                  Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                                  Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
                                  sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo
                                  eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
                                  Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent
                                  sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac
                                  diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante
                                  ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                  Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                                  Proin eget tortor risus.</p>
                              <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem
                                  ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet
                                  elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum
                                  porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus
                                  nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>
                          </div>
                      </div>
                      <div class="tab-pane" id="tabs-3" role="tabpanel">
                          <div class="product__details__tab__desc">
                              <h6>Products Infomation</h6>
                              <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
                                  Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                                  Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam
                                  sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo
                                  eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.
                                  Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent
                                  sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac
                                  diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante
                                  ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                  Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.
                                  Proin eget tortor risus.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Product Details Section End -->
</html>