<html layout:decorate="~{layout}">
<section layout:fragment="content">


  <form th:action="@{/api/assets/upload}" method="POST" enctype="multipart/form-data">
    <input type="text" name="obj">obj
    <input type="text" name="mtl">mtl
    <input type="text" name="bd">bd
    <input type="file" name="images" multiple>images
    <input type="submit" value="send">
  </form>

  <!-- 에셋 ID로 이미지 검색 -->
  <div class="getImg">
    <form th:action="@{/test/searchImage}" method="get">
      <input type="text" name="num" placeholder="Enter the asset ID">
      <input type="submit" value="Search">
    </form>

    <!-- 검색된 이미지 표시 -->
    <!-- 검색된 이미지 표시 -->
  <div>
    <p th:if="${imageUrls == null}">Enter an asset ID to search for images.</p>
    <p th:if="${imageUrls != null and imageUrls.isEmpty()}">No images found for this asset ID.</p>
    <div th:if="${imageUrls != null}" id="imageContainer" th:data-urls="${imageUrls}">
        <img th:each="url : ${imageUrls}" th:src="${url}" alt="Asset Image" style="width: 150px; margin: 10px;">
    </div>
  </div>

  <!-- download image -->
  <section>
    <button class="btn btn-primary" onclick="downloadImg()">download image</button>
  </section>
  

</section>
<script src="/js/script.js" layout:fragment="script"></script>
</html>